@model IEnumerable<PollResponse>

<div class="row m-2 mb-1">
    @foreach (var pollResponse in Model)
    {
            <div class="col-3">
            <partial name="_PollResponse" model="pollResponse" />
            </div>
    }
</div>
