@*@model YourProjectName.Models.User*@

<h2>Kullanıcıyı Sil: @Model.Username</h2>

<p>Kullanıcıyı silmek istediğinize emin misiniz?</p>

@using (Html.BeginForm("Delete", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()
@*    @Html.HiddenFor(model => model.UserId)
*@
        <button type="submit" class="btn btn-danger">Sil</button>
}
